# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
ENV/

# Large files and datasets
*.h5
*.hdf5
*.pkl
*.csv
*.zip
*.rar
*.7z
*.tar
*.gz
*.jpg
*.pth
debug_log.txt

# IDE
.vscode/
.idea/

# Logs
*.log
debug_log.txt
ScarceNet-main-original/ScarceNet-main-original/lib/models/hrnet_w32-36af842e.pth